<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap                   = "../vendor/autoload.php" >
    <listeners>
        <listener class="Magium\Clairvoyant\Listener\MagiumListener">
            <arguments>
                <string>59fcdaabe77989302f288202</string>
                <string>user-key</string>
                <string>user-secret</string>
            </arguments>
        </listener>
    </listeners>
    <testsuites>
        <testsuite name="Clairvoyant">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
